{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'styles/styles.css' %}">
    <title>Create Post</title>
</head>
<body>
    <div class="post-creation">
        <form method = "post" action = "{% url 'blog:post_page' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type = "submit"> Add Post </button>
        </form>
        <a href = "{% url 'blog:blog_page' %}"> Blog Page</a>
        {% if message %}
        <h1 class="sucess-message"> {{ message }} </h1>
        {% endif %}
    </div>
</body>
</html>