{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'styles/styles.css' %}">
    <title>Blog</title>
</head>
<body>
    {% if profile %}
        <img src = "{{ profile.image.url }}" width = 50px>
    {% endif %}
    <form action="{% url 'blog:blog_page' %}" method = "post">
        {% csrf_token %}
        <input type = "text" placeholder = "Search for a post..." name = "search-input">
    </form>
    <div class = "container">
        {% if posts %}
        {% for post in posts %}
        <form action = "{% url 'blog:delete_post' %}" method = "post">
        <div class = "post-instance">
                {% csrf_token %}
                <h1 class = "post-header">{{ post.id }}. {{ post.post_name }}</h1>
                <p class = "post-content" name = 'content'> {{ post.post_content }} </p>
                <p class = "post-date"> {{post.post_date}} </p>
        </form>
                <form method = "post" action = "{% url 'blog:like_post' %}" id = 'like-form'>
                    {% csrf_token %}
                    <input type = "text" value = "{{ post.id }}" name = "post-id" hidden>
                    <input type = "text" value = "{{ post.like_count }}" name = "likes" hidden>
                    <button type = "submit" id = "like-post"> 👍Like {{ post.like_count }} </button>
                </form>
                <br>
                <br>
                <form method = "post" action = "{% url 'blog:dislike_post' %}" id = 'dislike-form'>
                    {% csrf_token %}
                    <input type = "text" value = "{{ post.id }}" name = "post-id" hidden>
                    <input type = "text" value = "{{ post.dislike_count }}" name = "dislikes" hidden>
                    <button type = "submit" id = "dislike-post"> 👎Dislike {{ post.dislike_count }} </button>
                </form>
                <input type = "text" value = "{{ post.id }}" name = "post_num" hidden>
                <button type="submit"> Delete Post </button>
            </div>
        
        {% endfor %}
        {% else %}
        <h1> No posts added. <br>Go to the post creation page to make a post! </h1>
        {% endif %}
    </div>

    <br>
    <br>
    <br>

    <form method = "post" action = "{% url 'blog:logoutt' %}">
        {% csrf_token %}
        <button type = "submit"> Logout </button>
    </form>

    <form method = "get" action = "{% url 'blog:user_settings' %}">
        {% csrf_token %}
        <button type = "submit"> Profile </button>
    </form>

    <form method = "get" action = "{% url 'blog:post_page' %}">
        {% csrf_token %}
        <button type = "submit"> Post Page </button>
    </form>
</body>
</html>