{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
</head>
<body>
    <div class="container">
        <h1 class = "post-title"> {{ post.post_name }} </h1>
        <br>
        <br>
        <p class = "post-content"> {{ post.post_content }} </p>

        <form action = "{% url 'blog:add_comment' %}" method = "post">
            {% csrf_token %}
            <input name = "comment-content" type = "text" placeholder = "Type a comment...">
            <input name = "post-id" value = "{{ post.id }}" hidden>
            <button type = "submit"> Add comment </button>
        </form>

        {% if comments %}
            {% for comment in comments %}
            <div class="comment-instance">
                <p style = "font-size: larger; color: #B528E0"; ><strong>{{ comment.associated_user.user.username }} </strong></p>
                <p> {{ comment.comment_content }} </p>
                <br>
                <br>
                <p> {{ comment.comment_date }} </p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
</body>
</html>