{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <form method = "post" action="{% url 'blog:user_settings' %}" enctype = "multipart/form-data">
            {% csrf_token %}
            {{ profile.as_p }}
            <button type = "submit"> Change Settings </button>
        </form>

        {% if message %}
        <h1 class="success-message"> Sucessfully changed user settings! </h1>
        {% endif %}
    </div>
</body>
</html>